html, body {
    height: 100%;
}

html {
    background-size: 600px 600px;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Nanum Gothic Coding', "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    font-weight: normal;
    font-style: normal;
    color: #2A2A2F;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

h1, h2, h3, h4 {
    font-family: 'Nanum Gothic Coding';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #2A2A2F;
}

p {
    font-family: 'Nanum Gothic Coding';
    font-size: 14px;
    color: #333;
    line-height: 1.65;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.12);
}

strong {
    font-family: 'Nanum Gothic Coding';
    font-weight: normal;
    font-style: italic;
}

a {
    font-family: 'Nanum Gothic Coding';
    color: #2C2C2C;
    text-decoration: none;
    outline: none;
}

a:visited {
    text-decoration: none;
}

#wrapper {
    background-image: -webkit-gradient(circle cover, from(rgba(123, 89, 61, 0.38)), to(rgba(116, 81, 50, 0.6) 100%));
    background-image: -webkit-radial-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
    background-image: -moz-radial-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
    background-image: -ms-linear-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
    background-image: -o-linear-gradient(circle cover, rgba(123, 89, 61, 0.38), rgba(116, 81, 50, 0.6) 100%);
    padding: 0 0 40px 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

/* Top and Header Content */
#top {
    padding: 60px 0 20px 0;
    border-bottom: 2px solid rgba(116, 81, 50, 0.1);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.11);
    margin: 0 0 10px 0;
}

#top h1 {
    font-size: 108px;
    margin: 0;
    float: left;
}

#top h1 a {
    font-family: 'Nanum Gothic Coding';
    color: #2A2A2F;
}

#top h1 a:hover {
    text-decoration: none;
    color: #2A2A2F;
}

#top p {
    padding: 11px 0 0 0;
    margin: 0 0 0 32px;
    float: left;
    width: 430px;
}

#top p span {
    font-family: 'Nanum Gothic Coding';
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin-bottom: 3px;
}

a.download {
    display: block;
    float: right;
    margin: 10px 0 0 0;
    font-family: 'Nanum Gothic Coding';
    color: #2A2A2F;
    line-height: 1.05;
    font-size: 48px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

a.download span {
    margin: 5px 0 0 0;
    font-size: 36px;
    text-align: center;
}

.sub-header {
    font-family: 'Nanum Gothic Coding';
    font-size: 42px;
    margin: 0 0 -5px 0;
    padding: 25px 0 0 0;
    line-height: 1.05;
    color: #2A2A2F;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.sub-header span {
    font-size: 28px;
}


/* Bottom */
#bottom {
    clear: both;
    overflow: hidden;
    margin: 0 0 0 0;
    padding: 25px 0 0 0;
    width: 100%;
}

#bottom h3 {
    font-family: 'Nanum Gothic Coding';
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 13px 0;
    line-height: 1.4;
    text-transform: uppercase;
    color: #2A2A2F;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

#bottom .screenshot {
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 240px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 630px auto;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 3px 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.48), 0 1px 2px rgba(255, 255, 255, 0.4);
}

#bottom .terminal {
    background-color: #000;
    background-image: url("./terminal.png");
    background-position: center center;
    background-size: 402px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bottom .boxen-web {
    background-position: center center;
    background-size: 90% auto;
    background-color: #E9E9E9;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-wrap: normal;
    height: auto;
}

#bottom p {
    font-size: 14px;
    margin: 0 0 20px 0;
    width: 945px;
}

#bottom .left p {
    width: 519px;
}

#bottom a:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    margin: 0;
    background-color: rgba(95, 66, 41, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.13), 0 -1px 2px rgba(255, 255, 255, 0.12);
    font-family: 'Nanum Gothic Coding';
    font-size: 15px;
    color: #2A2A2F;
    text-align: right;
}

#footer p, #footer p a {
    font-family: 'Nanum Gothic Coding';
    padding: 0;
    font-size: 18px;
    color: #77685b;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.14);
}

#footer a:hover {
    text-decoration: underline;
}

#footer .container {
    padding: 5px 0 0 0;
}

#footer .invertocat {
    margin: -5px 0 0 8px;
    padding: 0;
    display: block;
    float: right;
    height: 29px;
    width: 29px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 29px auto;
    -webkit-mask-image: -webkit-linear-gradient(rgba(130, 114, 101, 0.3), rgba(130, 114, 101, 0.28));
}

/* Float class selectors and clearfix */
.right {
    float: right;
}

.left {
    float: left;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

@media screen and (max-width: 480px) {
    #bottom .left p {
        width: 945px;
    }

    #bottom .right {
        float: none;
        padding-bottom: 20px;
        margin: 0 auto;
        width: 100%;
    }

    #bottom .left {
        float: none;
    }
}
